# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=uce_postgresql
DB_PORT=5432
DB_NAME=user_service_db

# Redis Configuration
REDIS_HOST=uce_redis
REDIS_PORT=6379
REDIS_DB=1

# RabbitMQ Configuration
RABBITMQ_HOST=uce_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# JWT Configuration (must match auth-service)
JWT_SECRET_KEY=Q7v1P7Rp-vglhy04pduFZ0LeHW-_z9eBqSPwEV_2Ea4
JWT_ALGORITHM=HS256

# Service Configuration
SERVICE_NAME=user-service
SERVICE_PORT=8001
AUTH_SERVICE_URL=http://uce_auth_service:8000

# Environment
ENVIRONMENT=development
